chroma-hnswlib
chromadb>=1.0.0
langchain
langchain-openai
langchain-community
langchain-chroma>=1.0.0
langchain-aws>=1.0.0
openai
fastapi
itsdangerous
boto3
botocore
amazon-transcribe
langdetect
pypdf